@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


:root {
  --primary-color: #5D001E;
  --secondary-color:#E3E2DF;
  --tertiary-color:#EE4C7C;
}

body {
  font-family: 'Montserrat', sans-serif;
 margin:0px;
}


hr {
  margin: 2rem 0rem;
}

/* container */
.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.container-center {
  max-width: 600px;
  margin: auto;
}

/* links */
.link {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.5rem 1rem;

}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white
}


.link-secondary {
  background-color: var(--primary-color);
  color: white;
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

/* lists */

.non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.1rem;
}

.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/* header */

.hero {
  padding: 2rem;
}

.hero .hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  padding-top: 1rem;
  text-align: center;
  font-size:xx-large;
  color:#420516;
  font-weight:bolder;
}

.hero .hero-heading .heading-inverted {
  color: var(--tertiary-color)
}

/* section */

.section{
  padding:2rem 1rem;
  margin-bottom: .5rem;
  border-radius: 1.5rem;
  
}
.section h1 {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: 2rem;
}

.ow{
  background-color:#FAF9F6;
}
.section p{
  font-size: 1.2rem;
}


.section .section-content{
color:#200F21;
font-weight: bolder;
font-size:large;
}

.showcase-blog {
  padding-bottom: 6rem;
}

.showcase-list {
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

.footer{
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}

.footer .links{
  color: white;
}

.footer .footer-header{
  font-weight: bold;
  font-size: x-large;
}
.footer ul{
  padding-inline-start: 0px;
}

@media only screen and (max-width: 500px)
{
    .navigation{
      padding: 0.5rem;
    }
    .link {
      padding: 0rem 0rem;
    }
}

